$primary-button: seagreen;
$body-bg: rgb(240, 240, 240);
$menu-bg: rgb(203, 151, 248);

body {
  background-color: $body-bg;
}

.button-primary {
  background-color: $primary-button;
  border-color: rgb(32, 95, 60);
  margin-top: 10px;
  &:hover {
    background-color: rgb(34, 101, 63);
  }
}



.navbar {
  background-color: $menu-bg;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 70px;
  .nav-title {
    font-size: 30px;
    font-weight: 600;
    color: white;
  }
  .nav-text {
    font-size: large;
    font-weight: 600;
  }
}

.movie-view {
  .movie-title{
    font-size: 60px;
  }
  .label {
    font-weight: 700;
  }
  .movie-img {
    float: left;
    width: 100%;
    margin-right: 40px;
  }
}

.profile-info {

  .user-info {
    font-size: x-large;
    padding: 15px;
  }
}